$box-size: 30px;

.day-name{
  font-family: 'Commissioner', sans-serif;
  font-weight: 200;
  font-size: 20px;
  border-radius: $box-size/1.8;
  margin: 3px;
  background-color: #ffe4b3;
  padding: $box-size/4;
  width: $box-size;
  height: $box-size;
  transition: transform .3s;
}

.d-flex{
  display: flex;
  justify-content: space-around;
}