.day{
  font-family: 'Commissioner', sans-serif;
  font-weight: 200;
  font-size: 30px;
  border-radius: 40px;
  margin: 10px;
  background-color: #FFBC40;
  padding: 20px;
  width: 80px;
  height: 80px;
  transition: transform .3s;
}

.day:hover{
  transform: scale(1.1);
}

.today-color{
  background-color: #34CFBE;
}

.opacity{
  background-color: rgba(255, 157, 0, 0.2);
}

.active{
  background-color: #ff6d40;
}

